.TypeAheadDropDown{
    max-width: 10.9rem;
    position: relative!important;
    z-index: 2;
}

.TypeAheadDropDown input{
    width: 100%;
    padding: 0.1rem;
    padding-left: 0.4rem;
    padding-right: 1.7rem;
    outline: none;
}

.TypeAheadDropDown::after{
    transform: rotate(45deg);
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    pointer-events: none;
    content: '';
    display: inline-block;
    position: absolute;
    top: calc(50% - 5px);
    right: 6px;
    width: 7px;
    height: 7px;
}

.TypeAheadDropDown ul{
    position: absolute;
    border: 1px solid #333;
    width:15rem;
    max-height: 30rem;
    font-size: 1.4rem!important;
    overflow: scroll;
    list-style-type: none;
    padding-left: 0.2rem;
    margin: 0;
    border: none;
}

.TypeAheadDropDown li{
    background-color: rgb(253, 253, 253);
    padding-left: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    cursor: pointer;
}

.TypeAheadDropDown li:not(:first-child) {
    border-top: 1px solid #eee;
}

.TypeAheadDropDown li:hover{
    background: lightgray;
    text-decoration: underline;
}
