/* Select Wrapper (for befores & afters) */

$select-color: #b6b6b6;
.custom-select {
    /* wrapper style */
    position: relative;
    display: block;
    max-width: 400px;
    min-width: 180px;
    margin: 0 auto;
    select {
        /* Select Reset */
        border: 1px solid $select-color;
        outline: none;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        margin: 0;
        display: block;
        width: 100%;
        cursor: pointer;
        /* custom select appearance */
        padding: 12px 55px 15px 15px;
        font-size: 14px;
    }
    /* the down arrow */
    &:after {
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;
        line-height: 50px;
        content: '\25BC';
        text-align: center;
        z-index: -1;
        background: $select-color;
        color: #fff;
        font-size: 18px;
    }
}

body {
    margin-top: 80px;
}