.fontFredericka{
    width: 100vw;
    height: 100vw;
    position: relative;
    font-family: sans-serif;
    line-height: 1.2;
}

.alignment{
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fullWidth{
    width: 80vw;
}
