.header{
    max-height: 30vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.column {
    float: left;
    padding: 0 2rem .5rem .5rem;
}

.column:last-child {
    padding-right: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.to{
    vertical-align: -webkit-baseline-middle;
}

@media only screen and (max-width: 40rem) {
    .wordSearch{
        width: 9rem;
        padding-left: .4rem;
    }
    .header{
        margin-top: 1vh;
    }   
    .mobile-column {
        padding: 0 .5rem 0 0;
        display: inline-block!important;
    }
    .mobile{
        display: block!important;
    }
    .mobile-column:last-child {
        padding-right: 0;
    }
    .column,.desktop{
        display: none!important;
    }
    .translate-img{
        height: 2rem;
        width: auto;
        vertical-align: middle;
    }
}

.mobile-column,.mobile {
    display:none;
}
