.content {
    min-height: calc(100vh - 6rem);
}

@media only screen and (max-width: 40rem) {
    .content {
        min-height: calc(100vh - 12rem);
    }
    .contentMinMode {
        min-height: calc(100vh - 7rem);
        margin-top: 1rem;
    }
}

.homepage {
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
}

.minMode {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 2;
}
