.actionItems button {
    margin: 0.3rem;
}

.row {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.rowChild {
    font-size: 1.7rem;
    line-height: 1.2;
    /* height: calc(100% - 180px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actionItems {
    padding-top: 3rem;
}

.quoteDescription {
    padding-top: 7rem;
    text-align: right;
}

.quoteText {
    overflow: scroll;
}
