.header{
    max-height: 30vh;
}

.column {
    float: left;
    /* padding: 10px 15px 15px 0; */
    padding: 0px 20px 5px 5px;
}

.column:last-child {
    padding-right: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
@media only screen and (max-width: 400px) {
    .wordSearch{
        width: 100px;
    }   
}
