.header{
    max-height: 30vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.column {
    float: left;
    padding: 0px 20px 5px 5px;
}

.column:last-child {
    padding-right: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.to{
    vertical-align: -webkit-baseline-middle;
}

@media only screen and (max-width: 400px) {
    .wordSearch{
        width: 110px;
        padding-left: 4px;
    }
    .header{
        margin-top: 2vh;
    }   
    .mobile-column {
        padding: 0 25px 0 0;
        display: inline-block!important;
    }
    
    .mobile-column:last-child {
        padding-right: 0;
    }
    .column{
        display: none!important;
    }
}

.mobile-column {
    display:none;
}
