@media only screen and (min-width: 320px) {
    .smallInput {
        width: 2.5rem;
    }
    .labelEnd {
        font-size: 1.4rem;
    }
    .endMargin {
        margin-left: 0.5rem;
    }
}

@media only screen and (min-width: 700px) {
    .smallInput {
        width: 7rem;
    }
}
