@media only screen and (min-width: 320px) {
    .mobile-column .smallInput {
        width: 2.5rem;
    }
    .mobile-column #labelEnd {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 700px) {
    .smallInput {
        width: 7rem;
    }
}
