.snackbar {
    border-radius: 4px;
    background-color: #333;
    color: rgba(255, 255, 255, 0.87);
    padding: 14px 16px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
}

@media only screen and (min-width: 400px) {
    .snackbar {
        width: 46rem;
    }
}
