*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: sans-serif !important;
}

.row {
    font-size: 1.7rem;
    line-height: 1.2;
}

html {
    height: 100%;
    font-size: 62.5%;
}

.desktop .column *,
.MuiAutocomplete-listbox li {
    font-size: 1.6rem !important;
}

body {
    height: 100%;
    font-size: 1.6rem;
}

body {
    margin: 0;
    padding: 0;
}

.List {
    border: 0.1rem solid #d9dddd;
}

.ListItemEven,
.ListItemOdd {
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkTheme * {
    background-color: #000;
    color: #fff;
}

.darkTheme [class*='Snackbar'] * {
    background-color: #000 !important;
}
button {
    cursor: pointer;
}

*,
*:focus,
*:hover {
    outline: none;
}

.darkTheme .homepage button {
    border: 1px solid #fff !important;
}

.darkTheme div[class*='Snackbar_snackbar-wrapper'] {
    border: 1px solid #fff !important;
}

[class*='Snackbar_snackbar'] {
    z-index: 2 !important;
}

.overflow-hidden {
    overflow: hidden;
}

button {
    border-radius: 2rem;
}

.mobile .header input {
    border-radius: 0.25rem;
}

.lightTheme input,
.lightTheme button {
    border-width: 1.5px;
}
