*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: sans-serif !important;
}

.row {
    font-size: 1.7rem;
    line-height: 1.2;
}

html {
    height: 100%;
    font-size: 62.5%;
}

.MuiAutocomplete-popper * {
    font-size: 1.6rem !important;
}

body {
    height: 100%;
    font-size: 1.6rem;
}

body {
    margin: 0;
    padding: 0;
}

.darkTheme * {
    background-color: #000;
    color: #fff;
}

button {
    cursor: pointer;
}

*,
*:focus,
*:hover {
    outline: none;
}

.darkTheme .homepage button {
    border: 1px solid #fff !important;
}

.darkTheme div[class*='Snackbar_snackbar-wrapper'] {
    border: 1px solid #fff !important;
}

.overflow-hidden {
    overflow: hidden;
}

button {
    border-radius: 2rem;
    border-color: gray;
    border-width: 1px;
    padding: 0.4rem 0.6rem;
}

.lightTheme input,
.lightTheme button {
    border-width: 1.5px;
}

.darkTheme button {
    border-color: #fff;
    border-width: 1px;
}
