@font-face {
  font-family: 'Segoe UI';
  src: url('static/fonts/SEGOEUI.TTF')  format('truetype');
  font-display: fallback;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Segoe UI'!important;
}

html{
  height: 100%;
  overflow: hidden;
  font-size: 62.5%;
}

.desktop .column *, .MuiAutocomplete-listbox li{
  font-size: 1.6rem!important;
}

body{
  height: 100%;
  overflow: hidden;
  font-size: 1.6rem;
}

body{
  margin-top: 0
}

.List {
  border: 0.1rem solid #d9dddd;
}

.ListItemEven, .ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItemEven {
  background-color: #f6f6f6;
}

button{
  cursor:pointer;
}

*,*:focus,*:hover{
  outline:none;
}

.darkTheme * {
  background-color: #000!important;
  color: #fff!important;
}