@font-face {
  font-family: 'Segoe UI';
  src: url('fonts/SEGOEUI.TTF')  format('truetype')
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI'!important;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}

body{
  margin-top:0
}

.List {
  border: 1px solid #d9dddd;
}

.ListItemEven, .ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItemEven {
  background-color: #f6f6f6;
}

@media only screen and (max-width: 600px) {
  input {
    text-overflow: ellipsis;
    border-radius: 2px;
  }   
}